* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.slider {
    position: relative;
    width: 1365px;
    height: 625px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide:first-child {
    display: block;
}

.slide img {
    display: block;
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}


